.intro-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.intro-container h2 {
    color: #5d5d5d;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.intro-text {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #555;
    margin-bottom: 20px;
}

.intro-container p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

.intro-container p:last-child {
    margin-bottom: 0;
}

.container h1 {
    text-align: center;
    font-size: 3rem;
    color: #007bff;
    margin-top: 30px;
}

.container h4 {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    margin-top: 10px;
}

/* Adjusting the navbar for better visual appearance */
nav {
    margin-bottom: 20px;
}
