<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- CSS Files -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/css/loginRegister.css" />

        <!-- JS Files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <title>Ticketsystem: Register</title>
    </head>
    <body>
        <%- include('../components/navbar'); %>
        <div class="login-page">
            <div class="form">
                <form class="register-form" action="" method="POST">
                    <input type="email" placeholder="Email address" name="email" required />
                    <input type="text" placeholder="First name" name="first_name" required />
                    <input type="text" placeholder="Last name" name="last_name" required />
                    <input type="password" placeholder="Password" name="password" id="password" required />
                    <div class="password-rules" id="password-rules" style="color: red"></div>
                    <input type="text" placeholder="Street" name="street" required />
                    <input type="text" placeholder="House number" name="house_number" required />
                    <input type="text" placeholder="ZIP Code" name="zip_code" required />
                    <input type="text" placeholder="City" name="city" required />
                    <select name="role" id="role-select" required>
                        <option value="" disabled selected>Select role</option>
                        <option value="teacher">Teacher</option>
                        <option value="room_attendant">Room Attendant</option>
                    </select>
                    <div class="room-selector" id="room-selector" style="display: none">
                        <p>Select all rooms you are attending</p>
                        <div class="checkbox-container" id="checkbox-container" style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 5px"></div>
                    </div>
                    <button>create account</button>
                    <p class="message">Already registered? <a href="/login">Sign In</a></p>
                </form>
            </div>
        </div>
        <script type="text/javascript" src="/scripts/registerScript.js"></script>
    </body>
</html>
